<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Mô tả</th>
        <th>Đơn giá</th>
        <th>Có hiệu lực</th>
        <th>Mã danh mục</th>
        <th>Mã ngôn ngữ</th>
        <th>Mã nhà xuất bản</th>
        <th>Năm xuất bản</th>
        <th style="text-align: center; width: 100px;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.active}}</td>
        <td>{{item.category.name}}</td>
        <td>{{item.language.name}}</td>
        <td>{{item.publisher.name}}</td>
        <td>{{item.publishingYear}}</td>
        <td style="text-align: center">
          <img
          title="Create"
          (click)="clickCreate()"
            src="../../../../assets/icons/add.svg"
            alt=""
            style="margin-right: 10px; cursor: pointer"
          />
          <img
          title="Edit"
          (click)="clickUpdate($event)"
            src="../../../../assets/icons/edit.svg"
            alt=""
            style="margin-right: 10px; cursor: pointer"
          />
          <img
          title="Delete"
            src="../../../../assets/icons/trash.svg"
            alt=""
            style="cursor: pointer"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
