<div class="content-layout">
  <nav class="navbar">
    <div class="container nav">
      <a routerLink="/home" class="d-flex logo">
        <img src="/assets/images/Logo.jpg" alt="logo" />
        <h2>Bon Bon Store</h2>
      </a>
      <ul
        class="nav-list"
        [ngClass]="{ 'nav-hide': isHide, 'nav-active': !isHide }"
      >
        <!-- <ng-container *ngIf="user; else elseTemplate">
          <li
            class="nav-item"
            nz-button
            nz-dropdown
            [nzDropdownMenu]="menu"
            nzPlacement="bottomRight"
          >
            {{ user.preferred_username }}
            <i class="ml-2" nz-icon nzType="down" nzTheme="outline"></i>
          </li>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <a
                  routerLink="/authentication/logout"
                  [state]="{ local: true }"
                >
                  <i class="mr-3" nz-icon nzType="logout" nzTheme="outline"></i
                  >Đăng xuất</a
                >
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
        <ng-template #elseTemplate>
          <li class="nav-link"><a routerLink="/login">Đăng xuất</a></li>
        </ng-template> -->
        <li>
          <div nz-dropdown [nzDropdownMenu]="menu">Trần Thị Phương Thanh</div>
        </li>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu class="p-3">
            <a routerLink="/login">
              <li nz-menu-item>Đăng xuất</li>
            </a>
          </ul>
        </nz-dropdown-menu>

      </ul>
      <!-- <div class="burger" (click)="isHide = !isHide">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div> -->
    </div>
  </nav>

  <div class="main">
    <div class="sidebar">
      <ul>
        <!-- <li><a routerLink="/addresses">Quản lý địa chỉ</a></li> -->
        <!-- <li><a routerLink="/carts">Quản lý giỏ hàng</a></li> -->
        <li><a routerLink="/categories">Quản lý danh mục</a></li>
        <li><a routerLink="/languages">Quản lý ngôn ngữ</a></li>
        <!-- <li><a routerLink="/order-products">Quản lý chi tiết đơn hàng</a></li> -->
        <li><a routerLink="/orders">Quản lý đơn hàng</a></li>
        <li><a routerLink="/products-table">Quản lý sản phẩm</a></li>
        <li><a routerLink="/publishers">Quản lý nhà xuất bản</a></li>
        <li><a routerLink="/users">Quản lý người dùng</a></li>
      </ul>
    </div>
    <div class="content">
      <router-outlet></router-outlet>

    </div>
  </div>

  <div class="footer mt-5">
    <div class="container py-5">
      <div class="row px-3 px-md-0">
        <div class="col-6 col-md-4 info">
          <h4>Gọi hỗ trợ mua hàng</h4>
          <p>
            <i
              class="align-middle"
              nzRotate="180"
              nz-icon
              nzType="phone"
              nzTheme="outline"
            ></i>
            0384129499
          </p>
          <div class="logo">
            <img src="assets/images/Logo.jpg" alt="" />
          </div>
        </div>
        <div class="col-6 col-md-4 rules">
          <h4>Chính sách</h4>
          <ul>
            <a href="">
              <li>Chính sách đổi trả</li>
            </a>
            <a href="">
              <li>Khách hàng thân thiết</li>
            </a>
            <a href="">
              <li>Chiết khấu cộng tác viên</li>
            </a>
          </ul>
        </div>
        <div class="col-12 col-md-4 channel">
          <h4>Liên hệ với chúng tôi</h4>
          <div class="d-flex">
            <a
              href="https://www.facebook.com/thanhttp0611"
              target="_blank"
            >
              <img src="/assets/images/fb.png" alt="Facebook"
            /></a>
            <a href=""> <img src="/assets/images/insta.jpg" alt="" /></a>
            <a href=""> <img src="/assets/images/shopee.jpeg" alt="" /></a>
            <a href="https://mail.google.com/mail/u/3/#inbox" target="_blank">
              <img src="/assets/images/gmail.png" alt="Mail"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nz-back-top></nz-back-top>
