<div class="container">
  <div class="div-btn">
    <button (click)="create()" class="rounded" nz-button nzType="primary" style="margin-right: 10px">
      Thêm mới
    </button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Mã nhà xuất bản</th>
        <th>Tên nhà xuất bản</th>
        <th>Quốc gia</th>
        <th style="text-align: center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.country}}</td>
        <td style="text-align: center">
          <img title="Edit" (click)="update(item.id)" src="../../../../assets/icons/edit.svg" alt=""
            style="margin-right: 10px; cursor: pointer" />
          <img (click)="delete(item.id)" title="Delete" src="../../../../assets/icons/trash.svg" alt=""
            style="cursor: pointer" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
