<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Mã giỏ hàng</th>
        <th>Mã khách hàng</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th style="text-align: center;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.user.id}}</td>
        <td>{{item.product.name}}</td>
        <td>{{item.amount}}</td>
        <td style="text-align: center">
          <img
          title="Create"
          (click)="clickCreate()"
            src="../../../../assets/icons/add.svg"
            alt=""
            style="margin-right: 10px; cursor: pointer"
          />
          <img
          title="Edit"
          (click)="clickUpdate($event)"
            src="../../../../assets/icons/edit.svg"
            alt=""
            style="margin-right: 10px; cursor: pointer"
          />
          <img
          title="Delete"
            src="../../../../assets/icons/trash.svg"
            alt=""
            style="cursor: pointer"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
