<nav
  style="
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 400px;
    padding: 16px 24px;
    width: 256px;
  "
>
  <!-- class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6" -->
  <div
    style="
      padding-left: 0px;
      padding-right: 0px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <!-- class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto" -->
    <!-- Toggler -->
    <button
      style="
        cursor: pointer;
        color: black;
        opacity: 0.5;
        padding: 4px 12px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
      "
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <!-- class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent" -->
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <!-- <a
      [routerLink]="['/']"
      class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
    >
      <span class="block sm:hidden"> Tailwind Angular </span>
      <span class="hidden sm:block"> Bon Bon Store </span>
    </a> -->
    <!-- Collapse -->
    <div
      style="
        --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
          var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        height: auto;
        align-items: center;
        flex: 1 1 0%;
        border-radius: 4px;
      "
    >
      <!-- class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded" -->
      <!-- Collapse header -->
      <div
        style="
          display: block;
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid;
          border-bottom-color: rgba(191, 219, 254, var(--tw-border-opacity));
        "
      >
        <!-- class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200" -->
        <div style="display: flex; flex-wrap: wrap" class="flex flex-wrap">
          <div style="width: 50%" class="w-6/12">
            <!-- [routerLink]="['/']" -->
            <a
              style="
                text-align: left;
                color: rgba(59, 130, 246, var(--tw-text-opacity));
                margin-right: 0px;
                display: inline-block;
                white-space: nowrap;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 16px 0px;
              "
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            >
              Bon Bon Store
            </a>
          </div>
          <div
            style="width: 50%; display: flex; justify-content: end"
            class="w-6/12 flex justify-end"
          >
            <button
              type="button"
              style="
                cursor: pointer;
                color: black;
                opacity: 0.5;
                padding: 4px 12px;
                font-size: 20px;
                line-height: 1;
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 4px;
              "
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form
        style="margin-top: 24px; margin-bottom: 16px"
        class="mt-6 mb-4 md:hidden"
      >
        <div style="margin-bottom: 12px; padding-top: 0px" class="mb-3 pt-0">
          <input
            type="text"
            placeholder="Search"
            style="
              --tw-border-opacity: 1;
              border: 0px solid rgba(59, 130, 246, var(--tw-border-opacity));
              --tw-placeholder-opacity: 1;
              color: rgba(147, 197, 253, var(--tw-placeholder-opacity));
              --tw-text-opacity: 1;
              color: rgba(37, 99, 235, var(--tw-text-opacity));
              background-color: white;
              border-radius: 4px;
              font-size: 16px;
              line-height: 1.375;
              --tw-shadow: 0 0 #0000;
              box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
                var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
              outline: 2px solid transparent;
              outline-offset: 2px;
              width: 100%;
              font-weight: 400;
            "
            class="border-0 px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"
          />
        </div>
      </form>

      <!-- Divider -->
      <hr
        style="margin-top: 16px; margin-bottom: 16px"
        class="my-4 md:min-w-full"
      />
      <!-- Heading -->
      <h6
        style="
          --tw-text-opacity: 1;
          color: rgba(59, 130, 246, var(--tw-text-opacity));
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
          font-weight: bold;
          display: block;
          padding-top: 4px;
          padding-bottom: 16px;
          text-decoration: none;
        "
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Admin Layout Pages
      </h6>
      <!-- Navigation -->

      <ul
        style="display: flex; flex-direction: column; list-style: none"
        class="md:flex-col md:min-w-full flex flex-col list-none"
      >
        <li style="align-items: center" class="items-center">
          <!-- <a
            [routerLink]="['/admin/dashboard']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminDashboard="routerLinkActive"
            [ngClass]="
              adminDashboard.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <i
              class="fas fa-tv mr-2 text-sm"
              [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Dashboard
          </a> -->
        </li>

        <li style="align-items: center" class="items-center">
          <!-- <a
            [routerLink]="['/admin/tables']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminTables="routerLinkActive"
            [ngClass]="
              adminTables.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-blueGray-700 hover:text-blueGray-500'
            "
          >
            <i
              class="fas fa-table mr-2 text-sm"
              [ngClass]="
                adminTables.isActive ? 'opacity-75' : 'text-blueGray-300'
              "
            ></i>
            Tables
          </a> -->
        </li>
      </ul>

      <!-- Divider -->
      <hr
        style="margin-top: 16px; margin-bottom: 16px"
        class="my-4 md:min-w-full"
      />
      <!-- Heading -->
      <h6
        style="
          --tw-text-opacity: 1;
          color: rgba(59, 130, 246, var(--tw-text-opacity));
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
          font-weight: bold;
          display: block;
          padding-top: 4px;
          padding-bottom: 16px;
          text-decoration: none;
        "
        class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Auth Layout Pages
      </h6>
      <!-- Navigation -->

      <ul
        style="display: flex; flex-direction: column; list-style: none"
        class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
      >
        <!-- <li class="items-center">
          <a
            [routerLink]="['/auth/login']"
            class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-fingerprint text-blueGray-300 mr-2 text-sm"></i>
            Login
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/auth/register']"
            class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-clipboard-list text-blueGray-300 mr-2 text-sm"></i>
            Register
          </a>
        </li>
        <li class="items-center">
          <a
            [routerLink]="['/auth/user-index']"
            class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-clipboard-list text-blueGray-300 mr-2 text-sm"></i>
            User Index
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
