<form nz-form [nzLayout]="'vertical'" [formGroup]="myForm" style="margin-top: 20px;">
  <ng-template #message>
    <div>Vui lòng điền thông tin</div>
  </ng-template>
  <div class="row">
    <div class="col-6">
      <nz-form-item>
        <nz-form-label nzRequired>Địa chỉ</nz-form-label>
        <nz-form-control [nzErrorTip]="message">
          <nz-input-group>
            <input formControlName="addressDetail" nz-input placeholder="Địa chỉ cụ thể" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6">
      <nz-form-item>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input formControlName="description" nz-input placeholder="Mô tả" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6">
      <nz-form-item>
        <nz-form-label nzRequired>Mã khách hàng</nz-form-label>
        <nz-form-control [nzErrorTip]="message">
          <nz-input-group>
            <input
              formControlName="userId"
              nz-input
              placeholder="Mã khách hàng"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6">
      <nz-form-item>
        <nz-form-label nzRequired>Địa chỉ mặc định</nz-form-label>
        <nz-form-control [nzErrorTip]="message">
          <nz-input-group>
            <input type="checkbox"
              formControlName="isMain"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="div-btn">
  <button (click)="cancel.emit()" class="rounded" nz-button nzType="primary" nzGhost style="margin-right: 10px">
    Hủy
  </button>
  <button [disabled]="myForm.invalid" (click)="save.emit()" class="rounded" nz-button nzType="primary">
    Lưu
  </button>
</div>
